body {
  margin: 0px;
  background-color: #D6D6D6;
}

body,
td,
th {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

#wrapper {
  display: flex;
  background: #ccffff;
  height: 135px;
}

#left {
  flex: 0 0 40%;
  display: -webkit-inline-box;
}

#right {
  flex: 1;
}

/* Navbar */
ul.MenuBarHorizontal {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 110%;
	cursor: default;
	width: auto;
}

ul.MenuBarActive {
	z-index: 1000;
}

ul.MenuBarHorizontal li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 8.5em;
	float: left;
}

ul.MenuBarHorizontal ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1300;
	cursor: default;
	width: 9.2em;
	position: absolute;
	left: -1000em;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible {
	left: auto;
}

ul.MenuBarHorizontal ul li {
	width: 9.5em;
}

ul.MenuBarHorizontal ul ul {
	position: absolute;
	margin: -5% 0 0 95%;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible {
	left: auto;
	top: 0;
}

ul.MenuBarHorizontal ul {
	border: 1px solid #CCC;
}

ul.MenuBarHorizontal a {
	display: block;
	cursor: pointer;
	background-color: #00cccc;
	padding: 0.5em 0.75em;
	color: #000000;
	text-decoration: none;
}

ul.MenuBarHorizontal a:hover,
ul.MenuBarHorizontal a:focus {
	background-color: rgb(204, 255, 255);
	color: #000000;
}

ul.MenuBarHorizontal a.MenuBarItemHover,
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover,
ul.MenuBarHorizontal a.MenuBarSubmenuVisible {
	background-color: #99ffff;
	color: black;
}

ul.MenuBarHorizontal a.MenuBarItemSubmenu {
	background-image: url(SpryMenuBarDown.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

ul.MenuBarHorizontal ul a.MenuBarItemSubmenu {
	background-image: url(SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

ul.MenuBarHorizontal a.MenuBarItemSubmenuHover {
	background-image: url(SpryMenuBarDownHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover {
	background-image: url(SpryMenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

ul.MenuBarHorizontal iframe {
	position: absolute;
	z-index: 1300;
	filter: alpha(0.1);
}

@media screen,
projection {
	ul.MenuBarHorizontal li.MenuBarItemIE {
		display: inline;
		float: left;
		background: #FFF;
	}
}

.titleLogo {
  font-family: Patronum;
  text-align-last: center;
  font-size: 2.8em;
  font-weight: 700;
  letter-spacing: 3px;
  margin: auto 0px;
}

/* Search */
.selType{
  padding: 9px;
  border-radius: 7px;
  width: 65%;
}

.main-InputCls {
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}

.main-InputCls[disabled]{
  cursor: not-allowed;
}

/* Auto Complete */
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* main-submit button */
.main-SubmitCls {
  font-size: 1.2em;
  cursor: pointer;
}

.main-SubmitCls[disabled]{
  cursor: not-allowed;
}

.searExple{
  display: -webkit-inline-box; 
  margin: auto 135px; 
  margin-bottom: 12px;
}